@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Comfortaa', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

*{
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	max-width: 1920px;
}
.header{
	width: 100%;
	height: 65px;
	background-color: #fff;
	position: fixed;
	z-index: 100;
}
.logo{
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	position: fixed;
	margin-left: 40px;
	margin-top: 4px;
	letter-spacing: 1.2px;
	background-color: #fff;

}
ul{
	display: none;
	background-color: #fff;
	position: relative;

}
ul li{
	background-color: #fff;
	
}
.homeLink,
.chatLink{
	background-color: #fff;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.homeLink{
	position: absolute;
	right: 100px;
	top: 15px;
}
.chatLink{
	position: absolute;
	right: 40px;
	top: 15px;
}
/* Form registration */
.form{
	font-family: 'Comfortaa', cursive;
	position: fixed;
	top: 25%;
	left: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: 50px;
	height: 250px;
	background-color: #fff;

}
.formReg{
	font-family: 'Comfortaa', cursive;
	position: fixed;
	top: 25%;
	left: 40%;
	flex-direction: column;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: 50px;
	height: 250px;
	background-color: #fff;
}

.userNameLabel,
.userPasswordLabel,
.regNameLabel,
.regPasswordLabel{
	padding: 10px;
	background-color: #fff;
}

.userName,
.userPassword,
.regName,
.regPassword{
	padding: 5px;
	background-color: #fff;
}
	

.btn-form{
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	padding: 5px 15px;
	margin: 10px;
	border-radius: 5px;
}

.reg-form{
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 5px;
}

.regBtn{
	margin-top: 40px;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 5px;
}
.mod{
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center; 
	align-items: center;
	z-index: 99;
}
.mod p{
 background: #fff;
 width: 400px;
 max-width: 100%;
 text-align: center;
 padding:25px;
 border-radius: 5px;
 position: relative;
}
.closeMod{
	position: absolute;
	top: 10px;
	right:10px;
	cursor: pointer;
}
.main{
	position: absolute;
	top: 65px;
	background-color: green;
	display: flex;
	width: 100%;
	height: 800px;
}

.mainHeader{
	background-color: blue;
	display: flex;
	width: 100%;
	height: 400px;
}
.containerAvatar{
	width: 30%;
	display: flex;
}
.avatar{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 2px solid black;
	padding: 3px;
	margin: 50px;
}
.containerProfile{
	background-color: yellow;
	display: flex;
	width: 70%;
	height: 400px;
	position: relative;
}
.editProfile{
	position: absolute;
	top: 50px;
	right: 50px;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 25px;
	border: 2px solid red;
}
.userAcc{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 25px 100px;
}
.containerForm{
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center; 
	align-items: center;
	z-index: 99;
}
.profile{
	font-family: 'Comfortaa', cursive;
	background: #fff;
	width: 1200px;
	max-width: 100%;
	text-align: center;
	padding:25px;
	border-radius: 5px;
	position: relative;
}
.titleUser{
	background: #fff;
}
.maleLabel,.femaleLabel,.noneLabel{
	background: #e9ffad
}

.nickSection,.genderSection{
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.nickLabel,.familySectionTitle,.genderSectionTitle{
	background: #fff;
	font-size: 18px;
	margin-bottom: 10px;
}
.nick{
	background: #fff;
	width: 250px;
	font-size: 18px;
	
}
.genderContainer{
	background: #fff;
	display: flex;
}
.genderBtn,.genderBtn,.genderBtn3{
	background: #fff;
	display: inline-block;
	margin-right: 10px;
}

.genderBtn,.genderBtn,.genderBtn3 label{
	background: #fff;
	display: inline-block;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
.genderBtn,.genderBtn,.genderBtn3 input[type=radio]:checked + label{
	background: #e9ffad;
}


.familySection select{
	background: #fff;
	width: 300px;
	font-size: 16px;
	font-family: 'Comfortaa', cursive;
}
.familySection{
	background: #fff;
	margin-bottom: 25px;
}
.profileBtn{
	cursor: pointer;
	padding: 5px 25px;
	border: 2px solid #999;
	border-radius: 5px;
	background: #e9ffad;

}
.closeProfile{
	background: #fff;
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
}

.nickName{
	font-size: 25px;
}
.genderUserStatus,.familyStatus{
	font-size: 20px;
}